# Dependencias
node_modules/
jspm_packages/

dist/
build/

# --- Entorno y Secretos ---
.env
.env.test
.env.production
*.local

# --- Logs y Temporales ---
logs/
*.log
npm-debug.log*

# --- Base de Datos y Backups ---
backups/*.sql
prisma/migrations/

# --- Multimedia y Sistema ---
uploads/

Thumbs.db
.vscode/